<h1>Add Chords</h1>
<%= render partial: "form" %>

<div class="card" style="width: 18rem;">
  <%= image_tag ("c_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
  <div class="card-body">
    <a href="#" class="btn btn-primary">Add Chord</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <%= image_tag ("d_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
  <div class="card-body">
    <a href="#" class="btn btn-primary">Add Chord</a>
  </div>
</div>

<%= image_tag ("c_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
<%= image_tag ("d_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
<%= image_tag ("e_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
<%= image_tag ("f_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
<%= image_tag ("g_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
<%= image_tag ("a_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>
<%= image_tag ("b_chord.png"), class: "img-responsive", style: "width: 200px; height: 200px" %>