<%= form_for @song do |f| %>
  <div class="form-row">
    <div class="form-group col-md-5">
      <%= f.label :artist %>
      <%= f.text_field :artist, class:'form-control', placeholder:"Beatles" %>
    </div>
    <div class="form-group col-md-7">
      <%= f.label :title %>
      <%= f.text_field :title, class:'form-control', placeholder:"Daytripper" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-3">
      <%= f.label :tuning %>
      <%= f.text_field :tuning, class:'form-control', placeholder:"(select)" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :key %>
      <%= f.text_field :key, class:'form-control', placeholder:"(select)" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :difficulty %>
      <%= f.text_field :difficulty, class:'form-control', placeholder:"(select)" %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :capo %>
      <%= f.text_field :capo, class:'form-control', placeholder:"(select)" %>
    </div>
  </div>

  <div class="form-group col-lg-8">
    <div class="form-group">
      <%= f.label :lyrics %>
      <%= f.text_area :lyrics, :rows => "10", class:'form-control', placeholder:"Enter Lyrics" %>
    </div>
  </div>

  <div class="form-group col-lg-8">
    <div class="form-group">
    <%= f.label :chords, "Chords Used" %><br>
    <%= hidden_field_tag "song[chord_ids][]", nil %>
    <% @chords.each do |chord|%>
        <%= check_box_tag "song[chord_ids][]", chord.id, @song.chord_ids.include?(chord.id)%>
        <%= image_tag("#{chord.img}", size: "200x200") %>
    <% end %>
    <br>
    
  <div class="form row">
    <div class="col-sm-10">
      <%= f.submit 'Submit', class: 'btn-primary btn-lg'  %>
    </div>
  </div>
<% end %>