<!DOCTYPE html>
<html>
  <head>
    <title>Cittearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Cittearn</a>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Home", root_path %>
        </li>
        <li class="nav-item">
          <%= link_to "New Song", new_song_path %>
        </li>
        <li class="nav-item">
          <%= link_to "Current Songs", songs_path %>
        </li>
              
        <%# <% if !logged_in? %>
          
        <%# <li class="nav-item">
          <%= link_to "login", '/login' %>
        <%# </li>
        <li class="nav-item">
          <%= link_to "signup", '/signup' %>
        <%# </li> %> 

        <%# <% else %> 

        <%# <li class="nav-item"> %>
          <%# <%= link_to "My Songs", user_path(@current_user) %>
        <%# </li>
        <li class="nav-item">
          <%= link_to "logout", logout_path %>
        <%# </li> %> 

        <%# <% end %> 
      <%# </ul>   %> 
  </nav>

  <body>
    <%= yield %>
  </body>
</html>

