<!DOCTYPE html>
<html>
  <head>
    <title>Cittearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <header class="navbar navbar-default" role="navigation">
    <div class="navbar">
      <div class="container">
        <div id="logo" class="navbar-brand">
          <%= link_to "Cittearn", root_path %>
        </div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav navbar-left">
					  <li><%= link_to 'New Song', new_song_path %></li>
						<li><%= link_to 'Current Songs', songs_path %></li>
					</ul>

					<ul class="nav navbar-nav pull-right">
						<li><%= link_to 'Sign up', new_user_path %></li>
					</ul>
				</nav>
      </div>
    </div>
  </header>




              
        <%# <% if !logged_in? %>
          
        <%# <li class="nav-item">
          <%= link_to "login", '/login' %>
        <%# </li>
        <li class="nav-item">
          <%= link_to "signup", '/signup' %>
        <%# </li> %> 

        <%# <% else %> 

        <%# <li class="nav-item"> %>
          <%# <%= link_to "My Songs", user_path(@current_user) %>
        <%# </li>
        <li class="nav-item">
          <%= link_to "logout", logout_path %>
        <%# </li> %> 

        <%# <% end %> 
      <%# </ul>   %> 
  

  <body>
    <%= yield %>
  </body>
</html>

