<!DOCTYPE html>
<html>
  <head>
    <title>Cittearn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Home", root_path %>
    </li>
    <li class="nav-item">
      <%= link_to "New Song", new_song_path %>
    </li>
    <li class="nav-item">
      <%= link_to "Current Songs", songs_path %>
    </li>
  </ul>

  <body>
    <%= yield %>
  </body>
</html>
